NodeRed_Code/Flows/Basic_OmronPLC.json
[{"id":"116dccab.13b6e3","type":"tab","label":"OMRON PLC","disabled":false,"info":""},{"id":"42ab3242.b680dc","type":"FINS Read","z":"116dccab.13b6e3","name":"","connection":"e6053d4.e23e8c","addressType":"str","address":"D00","countType":"num","count":"50","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"signedkv","outputFormat":"","x":330,"y":80,"wires":[["99e36663.cbfdc8"]]},{"id":"6a5bcf6c.af025","type":"inject","z":"116dccab.13b6e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["42ab3242.b680dc"]]},{"id":"99e36663.cbfdc8","type":"debug","z":"116dccab.13b6e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"a0fe7a83.068bc8","type":"inject","z":"116dccab.13b6e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":580,"wires":[["d344e261.6afb1"]]},{"id":"d344e261.6afb1","type":"FINS Control","z":"116dccab.13b6e3","name":"","connection":"e6053d4.e23e8c","clockType":"msg","clock":"clock","connectOptionsType":"none","connectOptions":"","msgPropertyType":"msg","msgProperty":"payload","commandType":"clock-read","command":"","x":310,"y":580,"wires":[["a27f782d.899aa8"]]},{"id":"a27f782d.899aa8","type":"debug","z":"116dccab.13b6e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":580,"wires":[]},{"id":"659c6968.5af818","type":"FINS Write","z":"116dccab.13b6e3","name":"","connection":"e6053d4.e23e8c","addressType":"str","address":"D0","dataType":"num","data":"120","msgPropertyType":"msg","msgProperty":"payload","x":300,"y":280,"wires":[["86041901.101678"]]},{"id":"25888667.ad908a","type":"inject","z":"116dccab.13b6e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["659c6968.5af818"]]},{"id":"86041901.101678","type":"debug","z":"116dccab.13b6e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":280,"wires":[]},{"id":"48100cbb.20f524","type":"FINS Read Multiple","z":"116dccab.13b6e3","name":"","connection":"e6053d4.e23e8c","addressType":"str","address":"D0","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"unsignedkv","outputFormat":"","x":300,"y":180,"wires":[["ccaeb3ff.884af"]]},{"id":"60190d54.6728d4","type":"inject","z":"116dccab.13b6e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":180,"wires":[["48100cbb.20f524"]]},{"id":"ccaeb3ff.884af","type":"debug","z":"116dccab.13b6e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"14c1fc80.aff664","type":"comment","z":"116dccab.13b6e3","name":"Read 50 Addresses start from D0 - FINS Read","info":"","x":210,"y":40,"wires":[]},{"id":"d78e7175.3197e","type":"comment","z":"116dccab.13b6e3","name":"Write a Address: D0 - FINS Write","info":"","x":170,"y":240,"wires":[]},{"id":"a694d13b.2673b","type":"comment","z":"116dccab.13b6e3","name":"Read an Address: D0 - FINS Read Multiple","info":"","x":200,"y":140,"wires":[]},{"id":"c5951ec8.76af6","type":"FINS Fill","z":"116dccab.13b6e3","name":"","connection":"e6053d4.e23e8c","addressType":"str","address":"D0","valueType":"num","value":"120","countType":"num","count":"50","msgPropertyType":"msg","msgProperty":"payload","x":340,"y":380,"wires":[["63d17c81.f6fcb4"]]},{"id":"b3af97ce.1ecce8","type":"inject","z":"116dccab.13b6e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":380,"wires":[["c5951ec8.76af6"]]},{"id":"63d17c81.f6fcb4","type":"debug","z":"116dccab.13b6e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":380,"wires":[]},{"id":"9fb94530.edf128","type":"comment","z":"116dccab.13b6e3","name":"Write range of Addresses: 50 addresses start from D0 - FINS Fill","info":"","x":270,"y":340,"wires":[]},{"id":"d96f02e4.b9007","type":"comment","z":"116dccab.13b6e3","name":"Transfer value from an address to another","info":"","x":200,"y":440,"wires":[]},{"id":"b42be913.d5ea28","type":"inject","z":"116dccab.13b6e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":480,"wires":[["d825a09.12fa66"]]},{"id":"2aa73fd3.4ceb4","type":"debug","z":"116dccab.13b6e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":480,"wires":[]},{"id":"d825a09.12fa66","type":"FINS Transfer","z":"116dccab.13b6e3","name":"","connection":"e6053d4.e23e8c","addressType":"str","address":"D0","address2Type":"str","address2":"D49","countType":"num","count":"1","msgPropertyType":"msg","msgProperty":"payload","x":360,"y":480,"wires":[["2aa73fd3.4ceb4"]]},{"id":"951daeb9.ea70a","type":"comment","z":"116dccab.13b6e3","name":"Read Clock / Time","info":"","x":130,"y":540,"wires":[]},{"id":"627abab6.041dd4","type":"inject","z":"116dccab.13b6e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["8cd6d273.9d019"]]},{"id":"baaa4ebb.70958","type":"FINS Control","z":"116dccab.13b6e3","name":"","connection":"e6053d4.e23e8c","clockType":"msg","clock":"payload[0]","connectOptionsType":"none","connectOptions":"","msgPropertyType":"msg","msgProperty":"payload","commandType":"clock-write","command":"","x":310,"y":680,"wires":[["bebbd658.036448"]]},{"id":"bebbd658.036448","type":"debug","z":"116dccab.13b6e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":680,"wires":[]},{"id":"74fb01ae.5fe42","type":"comment","z":"116dccab.13b6e3","name":"Set Clock / Time","info":"","x":120,"y":640,"wires":[]},{"id":"8cd6d273.9d019","type":"function","z":"116dccab.13b6e3","name":"","func":"var d = new Date();\nvar year = parseInt(d.getFullYear().toString().substr(-2));\nvar month = d.getMonth()+1;\nvar day = d.getDate();\nvar hour = d.getHours();\nvar minute = d.getMinutes();\nvar second = d.getSeconds();\nvar day_week = d.getDay();\n\nvar m={\n    \"year\":year,\n    \"month\":month,\n    \"day\":day,\n    \"hour\":hour,\n    \"minute\":minute,\n    \"second\":second,\n    \"day_of_week\":day_week\n};\n\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":720,"wires":[["2941718c.f11e7e","baaa4ebb.70958"]]},{"id":"2941718c.f11e7e","type":"debug","z":"116dccab.13b6e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":760,"wires":[]},{"id":"e6053d4.e23e8c","type":"FINS Connection","name":"Omron CS1","host":"192.168.250.1","port":"9600","MODE":"","MODEType":"CS","protocol":"","protocolType":"tcp","ICF":"0x80","DNA":"","DA1":"1","DA2":"","SNA":"","SA1":"179","SA2":"","autoConnect":true}]