NodeRed_Code/NodeRED_NX1P2_MQTT_Dashboard.txt
[{"id":"4ac29fc4.c4269","type":"tab","label":"NX1P2 MQTT Dashboard","disabled":false,"info":""},{"id":"16dcaa8a.d4ee45","type":"tab","label":"Weather Dashboard","disabled":false,"info":""},{"id":"f73fd31e.63fe5","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"567bd116.feb99","type":"subflow","name":"Subflow 1 (2)","info":"","in":[],"out":[]},{"id":"cbfe82d5.a9a25","type":"subflow","name":"Subflow 1 (3)","info":"","in":[],"out":[]},{"id":"10281814.994388","type":"ui_group","z":"","name":"Availability","tab":"81cc83e1.dbb46","order":1,"disp":true,"width":"6","collapse":false},{"id":"b24455ab.11f828","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#8080ff","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"NX1P2 MQTT Dashboard Display","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7aff2f68.c0e45","type":"ui_spacer","name":"spacer","group":"a59be937.7c6928","order":1,"width":1,"height":1},{"id":"905717e.c44d5e8","type":"ui_group","z":"","name":"Quality","tab":"81cc83e1.dbb46","order":2,"disp":true,"width":"6","collapse":false},{"id":"12326964.840727","type":"ui_group","z":"","name":"Encoder ","tab":"","disp":true,"width":"6","collapse":false},{"id":"99339ea4.e06ff","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.250.1:4840","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"e7801d0f.1f23","type":"ui_group","z":"","name":"From Drop Box","tab":"","disp":false,"width":"6","collapse":false},{"id":"5bdf7212.d6c87c","type":"ui_group","z":"","name":"OEE","tab":"","order":1,"disp":false,"width":"7","collapse":false},{"id":"645fc11a.16086","type":"ui_group","z":"","name":"2","tab":"","order":2,"disp":false,"width":"7","collapse":false},{"id":"fd559a69.29fdc8","type":"ui_group","z":"","name":"3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"3a866aad.445066","type":"ui_group","z":"","name":"4","tab":"","disp":false,"width":"28","collapse":false},{"id":"cca49909.51fb28","type":"mqtt-broker","z":"","broker":"m21.cloudmqtt.com","port":"12244","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"34fa7018.8a0a","type":"mqtt-broker","z":"","broker":"m23.cloudmqtt.com","port":"10527","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"37cfd35d.8f031c","type":"ui_group","z":"","name":"Production","tab":"","disp":true,"width":"15"},{"id":"447221bc.3ddfc","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"d1e4af83.93f9e","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"f901b72b.db7598","type":"ui_group","z":"","name":"GR2","tab":null,"order":2,"disp":false,"width":"4"},{"id":"a59be937.7c6928","type":"ui_group","z":"","name":"GR3","tab":null,"order":3,"disp":false,"width":"4"},{"id":"1a2a852b.747f3b","type":"ui_group","z":"","name":"GR4","tab":null,"order":4,"disp":false,"width":"4"},{"id":"22cb836e.a2d5ac","type":"ui_group","z":"","name":"Group 5","tab":"af8996a8.e70ae8","order":5,"disp":false,"width":"12","collapse":false},{"id":"f70e83d1.f1d6e","type":"ui_group","z":"","name":"Group 6","tab":null,"order":6,"disp":false,"width":"8"},{"id":"f24d3535.762648","type":"ui_group","z":"","name":"Group 7","tab":null,"order":7,"disp":false,"width":"8"},{"id":"9c45262e.d0a968","type":"ui_group","z":"","name":"Group 8","tab":null,"order":8,"disp":false,"width":"4"},{"id":"e42b9c1b.39e31","type":"ui_group","z":"","name":"Group 9","tab":null,"order":9,"disp":false,"width":"4"},{"id":"af600e9c.f4103","type":"ui_group","name":"Group 10","tab":null,"order":10,"disp":true,"width":6},{"id":"b1327fb5.352a5","type":"ui_group","z":"","name":"Default Group","tab":"","disp":true,"width":"16"},{"id":"4d5b69ed.0686d8","type":"ui_group","z":"","name":"Default","tab":"","order":4,"disp":false,"width":"8","collapse":false},{"id":"faa0377.7abc3c8","type":"ui_group","z":"","name":"Default","tab":"","disp":false,"width":"12","collapse":false},{"id":"1d696f5e.78e001","type":"ui_group","z":"","name":"Sales","tab":"","disp":true,"width":"5","collapse":false},{"id":"5c8a3f16.84412","type":"ui_group","z":"","name":"Engineering","tab":"","disp":true,"width":"5","collapse":false},{"id":"a91bd2ec.ebab3","type":"ui_group","z":"","name":"Drop Box 2","tab":"","disp":false,"width":"12","collapse":false},{"id":"1bef64d9.12c8eb","type":"ui_group","z":"","name":"bc2","tab":"","disp":false,"width":"9","collapse":false},{"id":"2dae5f67.a82f5","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"24"},{"id":"efd9a3a7.dc42e","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false,"info":"Test"},{"id":"c3c36f08.a199c","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"92da4db.ee5d1b","type":"ui_group","z":"","name":"Temp","tab":"","order":3,"disp":false,"width":"5","collapse":false},{"id":"5430f515.74931c","type":"ui_group","z":"","name":"val","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5b8aeb1.87745","type":"ui_spacer","name":"spacer","group":"92da4db.ee5d1b","order":1,"width":1,"height":1},{"id":"1d5a878a.2b8698","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"3b66961b.531e1a","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.250.1:4840","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"e5beaa1e.339038","type":"dropbox-config","z":"","name":"Data Drop"},{"id":"601e907b.ecc72","type":"ui_group","z":"","name":"From Drop Box","tab":"","disp":false,"width":"6","collapse":false},{"id":"96abf2bc.0df86","type":"ui_group","z":"","name":"OEE","tab":"","order":1,"disp":false,"width":"7","collapse":false},{"id":"1cc35b32.1a88e5","type":"ui_group","z":"","name":"2","tab":"","order":2,"disp":false,"width":"7","collapse":false},{"id":"7d429fe8.a7025","type":"ui_group","z":"","name":"3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"5f112c03.1c8854","type":"ui_group","z":"","name":"4","tab":"","disp":false,"width":"28","collapse":false},{"id":"ac627e64.b05a","type":"mqtt-broker","z":"","broker":"m21.cloudmqtt.com","port":"12244","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bdfa88d4.b6bd58","type":"mqtt-broker","z":"","broker":"m23.cloudmqtt.com","port":"10527","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7d47d4a.19daa","type":"ui_group","z":"","name":"Production","tab":"","disp":true,"width":"15"},{"id":"a327ecea.129b1","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"5212141f.3e52ec","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"78ebc293.f6a85c","type":"ui_group","z":"","name":"GR2","tab":null,"order":2,"disp":false,"width":"4"},{"id":"f3a01a15.f66ad8","type":"ui_group","z":"","name":"GR3","tab":null,"order":3,"disp":false,"width":"4"},{"id":"387ef869.d3aef8","type":"ui_group","z":"","name":"GR4","tab":null,"order":4,"disp":false,"width":"4"},{"id":"659b88ba.d7c9d8","type":"ui_group","z":"","name":"Group 5","tab":"af8996a8.e70ae8","order":5,"disp":false,"width":"12","collapse":false},{"id":"c03fe54d.f20358","type":"ui_group","z":"","name":"Group 6","tab":null,"order":6,"disp":false,"width":"8"},{"id":"3b8afa3f.935e46","type":"ui_group","z":"","name":"Group 7","tab":null,"order":7,"disp":false,"width":"8"},{"id":"4b6fd55f.f702dc","type":"ui_group","z":"","name":"Group 8","tab":null,"order":8,"disp":false,"width":"4"},{"id":"96cf9cef.41fb3","type":"ui_group","z":"","name":"Group 9","tab":null,"order":9,"disp":false,"width":"4"},{"id":"59fd601d.8f809","type":"ui_group","name":"Group 10","tab":null,"order":10,"disp":true,"width":6},{"id":"44d3645c.f086ec","type":"ui_group","z":"","name":"Default","tab":"","order":4,"disp":false,"width":"8","collapse":false},{"id":"4bde3289.96dd3c","type":"ui_group","z":"","name":"Default","tab":"","disp":false,"width":"12","collapse":false},{"id":"ddcb3732.0f7258","type":"ui_group","z":"","name":"Sales","tab":"","disp":true,"width":"5","collapse":false},{"id":"380a33a9.9a43dc","type":"ui_group","z":"","name":"Engineering","tab":"","disp":true,"width":"5","collapse":false},{"id":"a6cb8490.0d9378","type":"ui_group","z":"","name":"Drop Box 2","tab":"","disp":false,"width":"12","collapse":false},{"id":"54432bb3.b0d584","type":"ui_group","z":"","name":"bc2","tab":"","disp":false,"width":"9","collapse":false},{"id":"297e321.cee99ce","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"24"},{"id":"598e37db.a3dbe8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false,"info":"Test"},{"id":"cdde6410.cd51b8","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.250.1:4840","secpol":"None","secmode":"NONE","login":false},{"id":"ee659175.c1bb2","type":"ui_group","z":"","name":"V1","tab":"","order":2,"disp":false,"width":"8","collapse":false},{"id":"b261d176.2cefe","type":"ui_group","z":"","name":"3","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"819779b6.4ebe08","type":"ui_group","z":"","name":"4","tab":"","order":2,"disp":false,"width":"12","collapse":false},{"id":"4135ea3.936d714","type":"ui_group","z":"","name":"l1","tab":"","order":4,"disp":false,"width":"12","collapse":false},{"id":"e9f2e458.ca8628","type":"ui_group","z":"","name":"l2","tab":"","order":5,"disp":false,"width":"12","collapse":false},{"id":"5d4820fe.2c7b7","type":"ui_group","z":"","name":"l3","tab":"","order":7,"disp":false,"width":"6","collapse":false},{"id":"1c02d497.da8a9b","type":"ui_group","z":"","name":"Z","tab":"","order":6,"disp":false,"width":"12","collapse":false},{"id":"8f51d0bd.89f27","type":"ui_group","z":"","name":"Temp","tab":"","order":3,"disp":false,"width":"5","collapse":false},{"id":"4f0d230a.7649fc","type":"ui_group","z":"","name":"start_pause","tab":"","disp":false,"width":"6","collapse":false},{"id":"6e43884e.ff3bf8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:62544/Quickstarts/AlarmConditionServer","login":false},{"id":"dd04a15.fbce86","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:62544/Quickstarts/AlarmConditionServer","login":false},{"id":"a16b04c9.3c96e8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"cae5ff23.ed838","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112.vstage.co:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"1fcfb956.d0a387","type":"serial-port","z":"","serialport":"COM16","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10"},{"id":"cce915ba.ceee28","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"1433","db":"MyDatabase","tz":""},{"id":"e94b5f7.7d459a","type":"MSSQL-CN","z":"","name":"local con","server":"localhost","encyption":false,"database":"MyDatabase"},{"id":"14f3cd34.2be963","type":"ui_group","z":"","name":"Two dimension Array","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"35012d76.582292","type":"ui_group","z":"","name":"test","tab":"","disp":true,"width":"6","collapse":false},{"id":"614f5096.167d6","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2eee8b67.a83e14","type":"mqtt-broker","z":"","name":"","broker":"m21.cloudmqtt.com","port":"12244","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"654ddd38.9a44c4","type":"mqtt-broker","z":"","name":"","broker":"m23.cloudmqtt.com","port":"10713","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"16e3bd48.ced153","type":"ui_group","z":"","name":"Production","tab":"","disp":true,"width":"15"},{"id":"4013c93f.470958","type":"ui_group","z":"","name":"Production","tab":"","order":1,"disp":true,"width":"12"},{"id":"2945c142.a26dce","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"7c09a42b.43283c","type":"ui_group","z":"","name":"GR2","tab":"7d54cb5.2691834","order":2,"disp":false,"width":"4"},{"id":"2b0ecefd.59f382","type":"ui_group","z":"","name":"GR3","tab":"7d54cb5.2691834","order":3,"disp":false,"width":"4"},{"id":"1172168d.d93d89","type":"ui_group","z":"","name":"GR4","tab":"7d54cb5.2691834","order":4,"disp":false,"width":"4"},{"id":"c318c3f3.04f4b","type":"ui_group","z":"","name":"Group 5","tab":"7d54cb5.2691834","order":5,"disp":false,"width":"12"},{"id":"125bab81.4fd444","type":"ui_group","z":"","name":"Group 6","tab":"7d54cb5.2691834","order":6,"disp":false,"width":"8"},{"id":"54af910c.84742","type":"ui_group","z":"","name":"Group 7","tab":"7d54cb5.2691834","order":7,"disp":false,"width":"8"},{"id":"245a54c6.383fec","type":"ui_group","z":"","name":"Group 8","tab":"7d54cb5.2691834","order":8,"disp":false,"width":"4"},{"id":"317a0483.ee786c","type":"ui_group","z":"","name":"Group 9","tab":"7d54cb5.2691834","order":9,"disp":false,"width":"4"},{"id":"79c018da.46c3e8","type":"ui_group","name":"Group 10","tab":"7d54cb5.2691834","order":10,"disp":true,"width":6},{"id":"61510654.752b88","type":"ui_group","z":"","name":"Default Group","tab":"","disp":true,"width":"16"},{"id":"6d79b8ec.63daa8","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f88a0ee.d52caf","type":"mqtt-broker","z":"","broker":"m21.cloudmqtt.com","port":"12244","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fbbed5c0.7e5f18","type":"mqtt-broker","z":"","broker":"m23.cloudmqtt.com","port":"10713","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1abe4bfd.f5db94","type":"ui_group","z":"","name":"Group 5","tab":"","order":1,"disp":false,"width":"6"},{"id":"721bcb26.c42f64","type":"ui_group","z":"","name":"GR2","tab":"bee6e801.3dfb98","order":2,"disp":false,"width":"4"},{"id":"8b4d81c8.451d2","type":"ui_group","z":"","name":"STATUS","tab":"bee6e801.3dfb98","order":3,"disp":true,"width":"4"},{"id":"b3658c94.b4106","type":"ui_group","z":"","name":"GR4","tab":"","order":4,"disp":false,"width":"4"},{"id":"ff75b58e.bbd408","type":"mqtt-broker","z":"","broker":"192.168.250.3","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2f6e7cc7.cd5954","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"f5d33a4b.9b62c8","type":"ui_group","z":"","name":"Command","tab":"bee6e801.3dfb98","order":5,"disp":true,"width":"6"},{"id":"2fcc8feb.b37b7","type":"ui_group","name":"Group 5","tab":"bee6e801.3dfb98","order":4,"disp":true,"width":6},{"id":"8561d01a.b9e8b","type":"ui_group","z":"","name":"Log Live2","tab":"48fe14df.d38d0c","order":1,"disp":true,"width":"12"},{"id":"7e6264da.42f58c","type":"mqtt-broker","z":"","broker":"m20.cloudmqtt.com","port":"13681","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f745dc18.94e4a","type":"ui_group","z":"","name":"Historial","tab":"","order":2,"disp":true,"width":"20"},{"id":"ceb4a28f.58092","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7b2f2a86.416284","type":"mqtt-broker","z":"","broker":"m21.cloudmqtt.com","port":"12244","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5aaa57df.085fa8","type":"mqtt-broker","z":"","broker":"m23.cloudmqtt.com","port":"10713","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8c93495a.9fb658","type":"mqtt-broker","z":"","broker":"192.168.2.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d4093b7.e68b7c8","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"90d27900.eb0178","type":"mqtt-broker","z":"","broker":"m21.cloudmqtt.com","port":"12244","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69dfebc9.dbdee4","type":"mqtt-broker","z":"","name":"","broker":"m23.cloudmqtt.com","port":"10713","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"924cf0d6.eff01","type":"ui_group","z":"","name":"List M2","tab":"","order":3,"disp":true,"width":"6"},{"id":"275ac5ba.6bebca","type":"ui_group","z":"","name":"GR2","tab":null,"order":2,"disp":false,"width":"4"},{"id":"4254f1ef.42e71","type":"ui_group","z":"","name":"STATUS","tab":null,"order":3,"disp":true,"width":"4"},{"id":"afa25595.a90448","type":"mqtt-broker","z":"","broker":"192.168.2.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21d0ff99.2a896","type":"ui_group","z":"","name":"Command","tab":null,"order":5,"disp":true,"width":"6"},{"id":"5852c3ac.e80a5c","type":"ui_group","name":"Group 5","tab":null,"order":4,"disp":true,"width":6},{"id":"8071a3f4.66d48","type":"ui_group","z":"","name":"Energy M1","tab":"","order":1,"disp":true,"width":"5"},{"id":"d7ffae1f.e1453","type":"ui_group","z":"","name":"Energy M2","tab":"","order":2,"disp":true,"width":"5"},{"id":"dfcdd510.a81838","type":"ui_group","z":"","name":"Energy Line 1","tab":"","order":1,"disp":true,"width":"7"},{"id":"48535c81.79f3e4","type":"ui_group","z":"","name":"Life Span","tab":"","order":6,"disp":true,"width":"5"},{"id":"88826a3e.b0ce78","type":"ui_group","z":"","name":"DC Operation","tab":"","order":5,"disp":true,"width":"5"},{"id":"7e08ed7e.356e24","type":"ui_group","z":"","name":"Charts","tab":"","order":8,"disp":true,"width":"20"},{"id":"fe4db411.904258","type":"ui_group","z":"","name":"List M1","tab":"","order":1,"disp":true,"width":"6"},{"id":"9d17003b.071b9","type":"ui_group","z":"","name":"Group 1","tab":"","order":4,"disp":true,"width":"20"},{"id":"346f1caf.36c2f4","type":"ui_group","z":"","name":"OEE detail M1","tab":"6b71409.7b4dcc","order":2,"disp":true,"width":"6"},{"id":"ed1c6288.db38f","type":"ui_group","z":"","name":"OEE detail M2","tab":null,"order":5,"disp":true,"width":"6"},{"id":"ff53844c.41da48","type":"ui_group","z":"","name":"OEE Loses M2","tab":null,"order":6,"disp":true,"width":"6"},{"id":"f1a543b.9c5d6c","type":"ui_group","z":"","name":"Chart","tab":"","order":2,"disp":true,"width":"16"},{"id":"23151ba7.9652c4","type":"ui_group","z":"","name":"Machine 1","tab":"","order":5,"disp":true,"width":"10"},{"id":"380a9628.d394da","type":"ui_group","z":"","name":"Machine 1 Status","tab":"","order":2,"disp":true,"width":"6"},{"id":"b634ad5a.a025f","type":"ui_group","z":"","name":"Machine 2","tab":"","order":7,"disp":true,"width":"10"},{"id":"111e9b3f.30b055","type":"ui_group","z":"","name":"OEE detail M2","tab":"6b71409.7b4dcc","order":3,"disp":true,"width":"6"},{"id":"57e281e2.39e5a","type":"ui_group","z":"","name":"OEE","tab":"","order":1,"disp":true,"width":"12"},{"id":"b15e87ef.941e28","type":"ui_group","z":"","name":"Loses chart","tab":"","order":3,"disp":true,"width":"11"},{"id":"96e0a0e1.22ca9","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":true,"width":"11"},{"id":"1b72f67a.7e121a","type":"ui_group","z":"","name":"Default Group","tab":"","disp":true,"width":"16"},{"id":"97854c34.97337","type":"ui_group","z":"","name":"Machine 1","tab":"","order":1,"disp":true,"width":"5"},{"id":"44634f91.e503b","type":"ui_group","z":"","name":"Machine 2","tab":"","order":3,"disp":true,"width":"5"},{"id":"1c09bda0.c3a5f2","type":"ui_group","z":"","name":"M1","tab":"","order":1,"disp":true,"width":"21"},{"id":"219782f4.d9220e","type":"ui_group","z":"","name":"M2","tab":"","order":1,"disp":true,"width":"21"},{"id":"26c7b037.8c5b8","type":"ui_group","z":"","name":"Speed M1","tab":"","order":1,"disp":true,"width":"10"},{"id":"8312d309.02b2","type":"ui_group","z":"","name":"Speed M2","tab":"","order":3,"disp":true,"width":"10"},{"id":"1afe257f.3b2aeb","type":"ui_group","z":"","name":"Time span","tab":"","order":1,"disp":true,"width":"20"},{"id":"38196944.b38e16","type":"ui_group","z":"","name":"Mach Speed M1","tab":"","order":4,"disp":true,"width":"5"},{"id":"b38ee723.1fe5d8","type":"ui_group","z":"","name":"Mach Speed M2","tab":"","order":5,"disp":true,"width":"5"},{"id":"2efedf4b.a32ab","type":"ui_group","z":"","name":"Chart","tab":"","order":3,"disp":true,"width":"12"},{"id":"23ba357e.70cd0a","type":"ui_group","z":"","name":"Status M1","tab":"","order":2,"disp":true,"width":"5"},{"id":"1ac1da2f.efab86","type":"ui_group","z":"","name":"Status M2","tab":"","order":4,"disp":true,"width":"5"},{"id":"dfef47cd.4978f8","type":"ui_group","z":"","name":"Production data","tab":"","order":3,"disp":true,"width":"23"},{"id":"7544585.ee213a8","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4cbded28.c04884","type":"mqtt-broker","z":"","broker":"m21.cloudmqtt.com","port":"12244","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a3249bd1.f70898","type":"mqtt-broker","z":"","broker":"m23.cloudmqtt.com","port":"10713","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b423c0b7.c15f9","type":"ui_group","z":"","name":"List M2","tab":"","order":3,"disp":true,"width":"6"},{"id":"e9a08dfd.6619d","type":"ui_group","z":"","name":"GR2","tab":null,"order":2,"disp":false,"width":"4"},{"id":"290bc2e9.e836ee","type":"ui_group","z":"","name":"STATUS","tab":null,"order":3,"disp":true,"width":"4"},{"id":"c73799a.a43a268","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6349428d.008d3c","type":"ui_group","z":"","name":"Command","tab":null,"order":5,"disp":true,"width":"6"},{"id":"c7cb7d52.1b18","type":"ui_group","name":"Group 5","tab":null,"order":4,"disp":true,"width":6},{"id":"4eaeb3d5.0b0e3c","type":"ui_group","z":"","name":"Energy M1","tab":"","order":1,"disp":true,"width":"5"},{"id":"e08a7ad3.ff5768","type":"ui_group","z":"","name":"Energy M2","tab":"","order":2,"disp":true,"width":"5"},{"id":"ef9d7483.8437d8","type":"ui_group","z":"","name":"Energy Line 1","tab":"","order":1,"disp":true,"width":"7"},{"id":"827dc51b.531c28","type":"ui_group","z":"","name":"Life Span","tab":"","order":6,"disp":true,"width":"5"},{"id":"9de28be0.6636c8","type":"ui_group","z":"","name":"DC Operation","tab":"","order":5,"disp":true,"width":"5"},{"id":"5fc574c.4ad9d8c","type":"ui_group","z":"","name":"Charts","tab":"","order":8,"disp":true,"width":"20"},{"id":"b6e97c01.3b72f","type":"ui_group","z":"","name":"List M1","tab":"","order":1,"disp":true,"width":"6"},{"id":"371e361.c5b12ca","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"20"},{"id":"1c54ad54.7c7d43","type":"ui_group","z":"","name":"OEE detail M1","tab":"c26d10d7.33a1c","order":2,"disp":true,"width":"6"},{"id":"7c5544c7.63b57c","type":"ui_group","z":"","name":"OEE detail M2","tab":null,"order":5,"disp":true,"width":"6"},{"id":"768a3e2d.a145","type":"ui_group","z":"","name":"OEE Loses M2","tab":null,"order":6,"disp":true,"width":"6"},{"id":"7a62fce2.00a3f4","type":"ui_group","z":"","name":"Chart","tab":"","order":2,"disp":true,"width":"16"},{"id":"2cf35641.0a326a","type":"ui_group","z":"","name":"Machine 1","tab":"","order":5,"disp":true,"width":"10"},{"id":"5ad24219.2cb5ac","type":"ui_group","z":"","name":"Machine 1 Status","tab":"","order":2,"disp":true,"width":"6"},{"id":"a4d861a6.4dc59","type":"ui_group","z":"","name":"Machine 2","tab":"","order":7,"disp":true,"width":"10"},{"id":"1e1fa00.d568d6","type":"ui_group","z":"","name":"OEE detail M2","tab":"c26d10d7.33a1c","order":3,"disp":true,"width":"6"},{"id":"446c2fc3.675dd","type":"ui_group","z":"","name":"OEE","tab":"","order":1,"disp":true,"width":"12"},{"id":"aa02cbdf.747b98","type":"ui_group","z":"","name":"Loses chart","tab":"","order":3,"disp":true,"width":"11"},{"id":"c4f99055.690d1","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":true,"width":"11"},{"id":"ef92d302.e3ecb","type":"ui_group","z":"","name":"Default Group","tab":"","disp":true,"width":"16"},{"id":"957c645.6fc9698","type":"ui_group","z":"","name":"Machine 1","tab":"","order":1,"disp":true,"width":"5"},{"id":"f4e37824.575888","type":"ui_group","z":"","name":"Machine 2","tab":"","order":3,"disp":true,"width":"5"},{"id":"9e1340c7.b0ed4","type":"ui_group","z":"","name":"M1","tab":"","order":1,"disp":true,"width":"21"},{"id":"9f314c6.fc3fdb","type":"ui_group","z":"","name":"M2","tab":"","order":1,"disp":true,"width":"21"},{"id":"d80e58a0.048078","type":"ui_group","z":"","name":"Speed M1","tab":"","order":1,"disp":true,"width":"10"},{"id":"32f9d5c6.d6e8ca","type":"ui_group","z":"","name":"Speed M2","tab":"","order":3,"disp":true,"width":"10"},{"id":"6eef3f08.c29f","type":"ui_group","z":"","name":"Time span","tab":"","order":1,"disp":true,"width":"20"},{"id":"272ea2f7.499dae","type":"ui_group","z":"","name":"Mach Speed M1","tab":"","order":4,"disp":true,"width":"5"},{"id":"80da4992.b706b8","type":"ui_group","z":"","name":"Mach Speed M2","tab":"","order":5,"disp":true,"width":"5"},{"id":"f28548aa.f15ad8","type":"ui_group","z":"","name":"Chart","tab":"","order":3,"disp":true,"width":"12"},{"id":"d8fa9b55.724c58","type":"ui_group","z":"","name":"Status M1","tab":"","order":2,"disp":true,"width":"5"},{"id":"9f88bb6c.4f7278","type":"ui_group","z":"","name":"Status M2","tab":"","order":4,"disp":true,"width":"5"},{"id":"58bb6240.3a07cc","type":"ui_group","z":"","name":"Production data","tab":"","order":3,"disp":true,"width":"23"},{"id":"f9db7c7d.d7b1c","type":"ui_group","z":"","name":"History","tab":"","order":1,"disp":true,"width":"22"},{"id":"96258ee4.0c42a","type":"ui_group","z":"","name":"OEE","tab":"","order":2,"disp":true,"width":"6"},{"id":"de4a6eac.a1d7b","type":"ui_group","z":"","name":"Climate","tab":"","order":4,"disp":true,"width":"6"},{"id":"e948bf42.65ad5","type":"ui_group","z":"","name":"Status","tab":"","order":4,"disp":true,"width":"6"},{"id":"850e7b58.3ce008","type":"ui_group","z":"","name":"TM_Robot_Ctrl","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"1abca682.6daa29","type":"ui_group","z":"","name":"val","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc5e65b3.650b58","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"c255ef7e.1ae2a","type":"ui_group","z":"","name":"Encoder ","tab":"","disp":true,"width":"6","collapse":false},{"id":"a5b71939.c064b8","type":"ui_group","z":"","name":"From Drop Box","tab":"","disp":false,"width":"6","collapse":false},{"id":"7748267f.814778","type":"ui_group","z":"","name":"OEE","tab":"","order":1,"disp":false,"width":"7","collapse":false},{"id":"47734429.a9f4dc","type":"ui_group","z":"","name":"2","tab":"","order":2,"disp":false,"width":"7","collapse":false},{"id":"f1eff783.b72bb8","type":"ui_group","z":"","name":"3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"6e8399b0.d05f38","type":"ui_group","z":"","name":"4","tab":"","disp":false,"width":"28","collapse":false},{"id":"d368f3d4.9f95a","type":"ui_group","z":"","name":"Production","tab":"","disp":true,"width":"15"},{"id":"e7f28739.0230b8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"337c238c.719f5c","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"270d800b.34b3f","type":"ui_group","z":"","name":"GR2","tab":null,"order":2,"disp":false,"width":"4"},{"id":"6f2398f7.353ee8","type":"ui_group","z":"","name":"GR3","tab":null,"order":3,"disp":false,"width":"4"},{"id":"47f5a220.6f482c","type":"ui_group","z":"","name":"GR4","tab":null,"order":4,"disp":false,"width":"4"},{"id":"eb179187.98669","type":"ui_group","z":"","name":"Group 5","tab":"af8996a8.e70ae8","order":5,"disp":false,"width":"12","collapse":false},{"id":"d8e002e8.2bee7","type":"ui_group","z":"","name":"Group 6","tab":null,"order":6,"disp":false,"width":"8"},{"id":"14c87a4f.6b1956","type":"ui_group","z":"","name":"Group 7","tab":null,"order":7,"disp":false,"width":"8"},{"id":"3040ebf9.a1a9a4","type":"ui_group","z":"","name":"Group 8","tab":null,"order":8,"disp":false,"width":"4"},{"id":"ce8bdade.645b18","type":"ui_group","z":"","name":"Group 9","tab":null,"order":9,"disp":false,"width":"4"},{"id":"8001a8de.8992e8","type":"ui_group","name":"Group 10","tab":null,"order":10,"disp":true,"width":6},{"id":"496a8010.78405","type":"ui_group","z":"","name":"Default Group","tab":"","disp":true,"width":"16"},{"id":"5de95b66.f47c94","type":"ui_group","z":"","name":"Default","tab":"","order":4,"disp":false,"width":"8","collapse":false},{"id":"619ce3b9.4e080c","type":"ui_group","z":"","name":"Default","tab":"","disp":false,"width":"12","collapse":false},{"id":"658de137.7d662","type":"ui_group","z":"","name":"Sales","tab":"","disp":true,"width":"5","collapse":false},{"id":"4db4ba7b.957b54","type":"ui_group","z":"","name":"Engineering","tab":"","disp":true,"width":"5","collapse":false},{"id":"52a4aaf5.e926b4","type":"ui_group","z":"","name":"Drop Box 2","tab":"","disp":false,"width":"12","collapse":false},{"id":"89d6732e.0302","type":"ui_group","z":"","name":"bc2","tab":"","disp":false,"width":"9","collapse":false},{"id":"7f72e348.813b2c","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"24"},{"id":"e77926a0.6036e8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false,"info":"Test"},{"id":"6db26483.6410fc","type":"ui_group","z":"","name":"Faces","tab":"","order":2,"disp":false,"width":"22","collapse":false},{"id":"49cdbbe0.6ea544","type":"ui_group","z":"","name":"Micro Scan Barcode Reader","tab":"","order":1,"disp":false,"width":"12","collapse":false},{"id":"ca1ed348.e9a4a","type":"ui_group","z":"","name":"Tomorrow","tab":"","order":2,"disp":true,"width":"7","collapse":false},{"id":"9e59fee7.fd70a","type":"ui_group","z":"","name":"Today","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"7d7d1652.f6a6d8","type":"ui_group","z":"","name":"Two dimension Array","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4ea828c6.0e2b98","type":"ui_group","z":"","name":"RAW Weather Data","tab":"","disp":true,"width":"12","collapse":false},{"id":"1d664406.4cde6c","type":"ui_group","z":"","name":"Default Group","tab":"","disp":true,"width":"9"},{"id":"c1c4c317.64138","type":"ui_group","z":"","name":"Default Group","tab":"","disp":true,"width":"9"},{"id":"db212281.cfcb1","type":"ui_group","z":"","name":"Wind","tab":"","disp":true,"width":"12","collapse":false},{"id":"efc5ba20.758548","type":"ui_group","z":"","name":"Manual Control","tab":"","order":3,"disp":true,"width":"18","collapse":true},{"id":"5fe81528.35424c","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"63e77840.6c36c8","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true},{"id":"d7fb47d8.106e58","type":"mqtt-broker","z":"","name":"gbridge","broker":"mqtt.gbridge.io","port":"8883","tls":"63e77840.6c36c8","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a5660223.4f69e","type":"mqtt-broker","z":"","name":"mosquito","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f779f9e9.232bf8","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"cb703797.1a5e48","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"4edbe66d.2a4498","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.250.1:4840","secpol":"None","secmode":"NONE","login":false},{"id":"32f1547c.56061c","type":"ui_group","z":"","name":"Encoder ","tab":"","disp":true,"width":"6","collapse":false},{"id":"296cefe.75ef11","type":"ui_group","z":"","name":"OEE","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"90924f42.5b099","type":"ui_group","z":"","name":"2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"f28da8c1.203308","type":"ui_group","z":"","name":"3","tab":"","order":3,"disp":false,"width":"3","collapse":false},{"id":"ebbd1891.e26ce8","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"a882fc58.5a6d6","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"78ed1c58.d99514","type":"ui_spacer","name":"spacer","group":"ee659175.c1bb2","order":1,"width":1,"height":1},{"id":"73ca50ff.6ddfe","type":"ui_spacer","name":"spacer","group":"ee659175.c1bb2","order":3,"width":1,"height":1},{"id":"ae635d4a.d9c56","type":"ui_spacer","name":"spacer","group":"b261d176.2cefe","order":1,"width":1,"height":1},{"id":"7baa9b4c.8c4564","type":"ui_spacer","name":"spacer","group":"b261d176.2cefe","order":3,"width":1,"height":1},{"id":"bb256cde.1e5ad","type":"ui_spacer","name":"spacer","group":"4135ea3.936d714","order":3,"width":1,"height":1},{"id":"f9b07c72.86269","type":"ui_spacer","name":"spacer","group":"4135ea3.936d714","order":1,"width":1,"height":1},{"id":"94fb5576.2cbec8","type":"ui_spacer","name":"spacer","group":"e9f2e458.ca8628","order":1,"width":1,"height":1},{"id":"562d462b.a576a8","type":"ui_spacer","name":"spacer","group":"e9f2e458.ca8628","order":3,"width":1,"height":1},{"id":"c6fbaf4d.e5c7a","type":"ui_group","z":"","name":"Group 6","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"b193ea55.f4d068","type":"ui_spacer","name":"spacer","group":"c6fbaf4d.e5c7a","order":1,"width":1,"height":1},{"id":"42667880.fec518","type":"ui_spacer","name":"spacer","group":"c6fbaf4d.e5c7a","order":3,"width":1,"height":1},{"id":"92f2d0bc.3425","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"f43356ec.879948","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"914137b9.7e7d28","type":"ui_group","z":"","name":"Encoder_Data","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"c196efa9.68b9f","type":"ui_spacer","name":"spacer","group":"914137b9.7e7d28","order":2,"width":1,"height":1},{"id":"eacb744d.078cb8","type":"ui_spacer","name":"spacer","group":"914137b9.7e7d28","order":4,"width":1,"height":1},{"id":"dc507043.ba7d8","type":"ui_spacer","name":"spacer","group":"914137b9.7e7d28","order":5,"width":1,"height":1},{"id":"2deb036d.048a6c","type":"ui_spacer","name":"spacer","group":"f43356ec.879948","order":2,"width":"0","height":"0"},{"id":"f978fc24.c43a5","type":"ui_spacer","name":"spacer","group":"914137b9.7e7d28","order":6,"width":"0","height":"0"},{"id":"39d5bf05.3cc5f","type":"ui_spacer","name":"spacer","group":"92f2d0bc.3425","order":2,"width":1,"height":1},{"id":"1008929c.8b5d6d","type":"ui_spacer","name":"spacer","group":"850e7b58.3ce008","order":2,"width":1,"height":"2"},{"id":"fd9db9de.843ef8","type":"ui_spacer","name":"spacer","group":"92f2d0bc.3425","order":4,"width":1,"height":1},{"id":"548059c0.928bc8","type":"mqtt-broker","z":"","name":"","broker":"192.168.250.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1bbfd4fc.704afb","type":"ui_group","name":"Group 1","tab":"3eed71d3.2b2bde","order":1,"disp":true,"width":6},{"id":"d4a04abb.ccbcb8","type":"ui_spacer","name":"spacer","group":"5bdf7212.d6c87c","order":1,"width":1,"height":1},{"id":"81cc83e1.dbb46","type":"ui_tab","z":"","name":"OEE","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2f7ae9be.f65686","type":"ui_group","z":"","name":"Performance","tab":"81cc83e1.dbb46","order":3,"disp":true,"width":"6","collapse":false},{"id":"4333b7da.f9b408","type":"ui_group","z":"","name":"OEE","tab":"81cc83e1.dbb46","order":4,"disp":true,"width":"6","collapse":false},{"id":"f2ef2420.9ae938","type":"ui_tab","z":"","name":"Machine Data","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"15fb13d7.0b8c2c","type":"ui_group","z":"","name":"Total Production","tab":"f2ef2420.9ae938","order":1,"disp":true,"width":"6","collapse":false},{"id":"329e4226.7d87de","type":"ui_group","z":"","name":"Defects","tab":"f2ef2420.9ae938","order":2,"disp":true,"width":"6","collapse":false},{"id":"c84549de.77d1d8","type":"ui_group","z":"","name":"Production/Hour","tab":"f2ef2420.9ae938","order":3,"disp":true,"width":"6","collapse":false},{"id":"73620da1.efe474","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"41102fc3.335d5","type":"ui_group","z":"","name":"Machine Information","tab":"f2ef2420.9ae938","order":4,"disp":true,"width":"6","collapse":false},{"id":"926829c5.7c5bf8","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e7346e3b.6173b","type":"ui_group","z":"","name":"Weather","tab":"926829c5.7c5bf8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b463c904.0c0328","type":"mqtt in","z":"4ac29fc4.c4269","name":"","topic":"OEE/","qos":"0","datatype":"json","broker":"548059c0.928bc8","x":97.33332824707031,"y":96.66666984558105,"wires":[["862949dd.2dc3a8","723591cd.602d8"]]},{"id":"862949dd.2dc3a8","type":"debug","z":"4ac29fc4.c4269","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":417.33331298828125,"y":146.6666717529297,"wires":[]},{"id":"18d24f35.676411","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"10281814.994388","order":1,"width":0,"height":0,"gtype":"gage","title":"Availability","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":782.3333282470703,"y":44.666669845581055,"wires":[],"inputLabels":["Availability"]},{"id":"85bbd004.4bd5c","type":"function","z":"4ac29fc4.c4269","name":"Data Select","func":"var Availability = {payload:(msg.payload.Availability)};\nvar Quality = {payload:(msg.payload.Quality)};\nvar Performance = {payload:(msg.payload.Performance)};\nvar OEE = {payload:(msg.payload.OEE)};\n\nreturn [Availability,Quality,Performance,OEE];","outputs":4,"noerr":0,"x":445.33331298828125,"y":69.66667175292969,"wires":[["18d24f35.676411","cec28ecd.dc43e","ae600f1a.81898","4a1883b3.257d3c"],["c7dd6bc3.0e3bc8","9573062f.4cf028","e5114995.0d3ef8","997cfc58.01a1d"],["955197ea.d1f1d8","30d7a334.752b0c","ed75c1fa.5cb6e","c4163567.959828"],["6b02d873.b11798","ae551d46.3c3ca","86d782fc.3161","1223027.90746fe"]],"inputLabels":["Data Delay"],"outputLabels":["Availability","Quality","Performance","OEE"]},{"id":"c7dd6bc3.0e3bc8","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"905717e.c44d5e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Quality","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#8080ff","#0080ff","#0000ff"],"seg1":"","seg2":"","x":772.3333282470703,"y":205.66666984558105,"wires":[],"inputLabels":["Quality"]},{"id":"955197ea.d1f1d8","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"2f7ae9be.f65686","order":1,"width":0,"height":0,"gtype":"gage","title":"Performance","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#de8585","#ff5555","#ff0000"],"seg1":"","seg2":"","x":777.3333282470703,"y":364.66666984558105,"wires":[],"inputLabels":["Performance"]},{"id":"6b02d873.b11798","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"4333b7da.f9b408","order":1,"width":0,"height":0,"gtype":"gage","title":"OEE","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffa851","#ff8d1c","#f07800"],"seg1":"","seg2":"","x":756.3333282470703,"y":544.666669845581,"wires":[],"inputLabels":["OEE"]},{"id":"cec28ecd.dc43e","type":"ui_chart","z":"4ac29fc4.c4269","name":"","group":"10281814.994388","order":2,"width":0,"height":0,"label":"Availability","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":779.3333282470703,"y":85.66666984558105,"wires":[[]]},{"id":"9573062f.4cf028","type":"ui_chart","z":"4ac29fc4.c4269","name":"","group":"905717e.c44d5e8","order":2,"width":0,"height":0,"label":"Quality","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":772.3333282470703,"y":245.66666984558105,"wires":[[]]},{"id":"30d7a334.752b0c","type":"ui_chart","z":"4ac29fc4.c4269","name":"","group":"2f7ae9be.f65686","order":2,"width":0,"height":0,"label":"Performance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":774.3333282470703,"y":407.66666984558105,"wires":[[]]},{"id":"ae551d46.3c3ca","type":"ui_chart","z":"4ac29fc4.c4269","name":"","group":"4333b7da.f9b408","order":2,"width":0,"height":0,"label":"OEE","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":755.3333282470703,"y":589.666669845581,"wires":[[]]},{"id":"ae600f1a.81898","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"10281814.994388","order":4,"width":0,"height":0,"gtype":"wave","title":"Availability","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":782.3333282470703,"y":164.66666984558105,"wires":[],"inputLabels":["Availability"]},{"id":"4a1883b3.257d3c","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"10281814.994388","order":3,"width":0,"height":0,"gtype":"donut","title":"Availability","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":784.3333282470703,"y":124.66666984558105,"wires":[],"inputLabels":["Availability"]},{"id":"e5114995.0d3ef8","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"905717e.c44d5e8","order":3,"width":0,"height":0,"gtype":"donut","title":"Quality","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#8080ff","#0080ff","#0000ff"],"seg1":"","seg2":"","x":771.3333282470703,"y":285.66666984558105,"wires":[],"inputLabels":["Quality"]},{"id":"997cfc58.01a1d","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"905717e.c44d5e8","order":4,"width":0,"height":0,"gtype":"wave","title":"Quality","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":769.3333282470703,"y":325.66666984558105,"wires":[],"inputLabels":["Quality"]},{"id":"ed75c1fa.5cb6e","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"2f7ae9be.f65686","order":3,"width":0,"height":0,"gtype":"donut","title":"Performance","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff9393","#ff5555","#ff0000"],"seg1":"","seg2":"","x":775.3333282470703,"y":455.66666984558105,"wires":[],"inputLabels":["Performance"]},{"id":"c4163567.959828","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"2f7ae9be.f65686","order":4,"width":0,"height":0,"gtype":"wave","title":"Performance","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":772.3333282470703,"y":501.66666984558105,"wires":[],"inputLabels":["Performance"]},{"id":"86d782fc.3161","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"4333b7da.f9b408","order":3,"width":0,"height":0,"gtype":"donut","title":"OEE","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff9e3e","#ff8f20","#fb7d00"],"seg1":"","seg2":"","x":752.3333282470703,"y":637.666669845581,"wires":[],"inputLabels":["OEE"]},{"id":"1223027.90746fe","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"4333b7da.f9b408","order":4,"width":0,"height":0,"gtype":"wave","title":"OEE","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":752.3333282470703,"y":683.666669845581,"wires":[],"inputLabels":["OEE"]},{"id":"723591cd.602d8","type":"delay","z":"4ac29fc4.c4269","name":"Data Delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":258.3333282470703,"y":53.66667175292969,"wires":[["85bbd004.4bd5c"]],"info":"**OPTIONAL**-\nThe Data Delay node just restricts the refresh rate of the data being recieved by the server."},{"id":"5d0bbabf.e41094","type":"mqtt in","z":"4ac29fc4.c4269","name":"","topic":"MachineData/","qos":"0","datatype":"json","broker":"548059c0.928bc8","x":111.99999237060547,"y":187.33331298828125,"wires":[["fd3b4574.5cebb8","862949dd.2dc3a8"]]},{"id":"bf716796.04a888","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"15fb13d7.0b8c2c","order":1,"width":0,"height":0,"gtype":"gage","title":"Total Production","label":"Units","format":"{{value}}","min":0,"max":"100000","colors":["#0000ff","#0000ff","#0000ff"],"seg1":"","seg2":"","x":432.33331298828125,"y":212.66665649414062,"wires":[],"inputLabels":["Availability"]},{"id":"173aa6ea.382009","type":"ui_chart","z":"4ac29fc4.c4269","name":"","group":"15fb13d7.0b8c2c","order":2,"width":0,"height":0,"label":"Total Production","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":433.33331298828125,"y":255.66665649414062,"wires":[[]]},{"id":"2a21b705.aa22f8","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"329e4226.7d87de","order":1,"width":0,"height":0,"gtype":"gage","title":"Defects","label":"Units","format":"{{value}}","min":0,"max":"100000","colors":["#e6e600","#e6e600","#e6e600"],"seg1":"","seg2":"","x":411.33331298828125,"y":385.6666564941406,"wires":[],"inputLabels":["Quality"]},{"id":"2bb2ec2e.281394","type":"ui_chart","z":"4ac29fc4.c4269","name":"","group":"329e4226.7d87de","order":2,"width":0,"height":0,"label":"Defects","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":409.33331298828125,"y":425.6666564941406,"wires":[[]]},{"id":"e132bdc1.62999","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"c84549de.77d1d8","order":1,"width":0,"height":0,"gtype":"gage","title":"Production/Hour","label":"Units","format":"{{value}}","min":0,"max":"3600","colors":["#ff8000","#ff8000","#ff8000"],"seg1":"","seg2":"","x":416.33331298828125,"y":555.6666564941406,"wires":[],"inputLabels":["Performance"]},{"id":"624b8352.3523fc","type":"ui_chart","z":"4ac29fc4.c4269","name":"","group":"c84549de.77d1d8","order":2,"width":0,"height":0,"label":"Production/Hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3600","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":407.33331298828125,"y":601.6666564941406,"wires":[[]]},{"id":"a9e8342b.8467f8","type":"function","z":"4ac29fc4.c4269","name":"Data Select","func":"var TotalProduction = {payload:(msg.payload.TotalProduction)};\nvar Defects = {payload:(msg.payload.Defects)};\nvar Production_H = {payload:(msg.payload.Production_H)};\nvar ErrorStop = {payload:(msg.payload.ErrorStop)};\nvar UserStop = {payload:(msg.payload.UserStop)};\nvar InOperation = {payload:(msg.payload.InOperation)};\n\nreturn [TotalProduction,Defects,Production_H,ErrorStop,UserStop,InOperation];","outputs":6,"noerr":0,"x":149.33331298828125,"y":481.6666431427002,"wires":[["bf716796.04a888","173aa6ea.382009","e05bcf17.81635","a1035ea0.e02be"],["2a21b705.aa22f8","2bb2ec2e.281394","df4b6651.bc6ea8","e9cca2a5.5e546"],["e132bdc1.62999","624b8352.3523fc","ef70f0c5.4fc9f","b60f0336.c4bea"],["84846ebe.050b8"],["370348bd.6bf138"],["eae3d8b2.de6b18"]],"inputLabels":["Data Delay"],"outputLabels":["Availability","Quality","Performance","ErrorStop","UserStop","InOperation"]},{"id":"e05bcf17.81635","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"15fb13d7.0b8c2c","order":3,"width":0,"height":0,"gtype":"donut","title":"Total Production","label":"Units","format":"{{value}}","min":0,"max":"100000","colors":["#0000ff","#0000ff","#0000ff"],"seg1":"","seg2":"","x":432.33331298828125,"y":296.6666564941406,"wires":[],"inputLabels":["Availability"]},{"id":"a1035ea0.e02be","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"15fb13d7.0b8c2c","order":4,"width":0,"height":0,"gtype":"wave","title":"Total Production","label":"Units","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":433.33331298828125,"y":340.6666564941406,"wires":[],"inputLabels":["Availability"]},{"id":"df4b6651.bc6ea8","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"329e4226.7d87de","order":3,"width":0,"height":0,"gtype":"donut","title":"Defects","label":"Units","format":"{{value}}","min":0,"max":"100000","colors":["#e6e600","#e6e600","#e6e600"],"seg1":"","seg2":"","x":409.33331298828125,"y":468.6666564941406,"wires":[],"inputLabels":["Quality"]},{"id":"e9cca2a5.5e546","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"329e4226.7d87de","order":4,"width":0,"height":0,"gtype":"wave","title":"Defects","label":"Units","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":409.33331298828125,"y":512.6666564941406,"wires":[],"inputLabels":["Quality"]},{"id":"ef70f0c5.4fc9f","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"c84549de.77d1d8","order":3,"width":0,"height":0,"gtype":"donut","title":"Production/Hour","label":"Units","format":"{{value}}","min":0,"max":"3600","colors":["#ff8000","#ff8000","#ff8000"],"seg1":"","seg2":"","x":410.33331298828125,"y":647.6666564941406,"wires":[],"inputLabels":["Performance"]},{"id":"b60f0336.c4bea","type":"ui_gauge","z":"4ac29fc4.c4269","name":"","group":"c84549de.77d1d8","order":4,"width":0,"height":0,"gtype":"wave","title":"Production/Hour","label":"Units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":409.33331298828125,"y":689.6666564941406,"wires":[],"inputLabels":["Performance"]},{"id":"1aae149f.1a617b","type":"mqtt in","z":"16dcaa8a.d4ee45","name":"","topic":"Meteo/Humidity/","qos":"1","datatype":"auto","broker":"69dfebc9.dbdee4","x":117,"y":115,"wires":[["f626a9f.2155458","ad5b6dd5.50dcc"]]},{"id":"ad5b6dd5.50dcc","type":"debug","z":"16dcaa8a.d4ee45","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":349,"y":153,"wires":[]},{"id":"77e3d8da.d783b8","type":"mqtt in","z":"16dcaa8a.d4ee45","name":"","topic":"Meteo/temperature/","qos":"1","datatype":"auto","broker":"69dfebc9.dbdee4","x":125,"y":196,"wires":[["ff7ff249.ea6bf","ad5b6dd5.50dcc"]]},{"id":"f626a9f.2155458","type":"function","z":"16dcaa8a.d4ee45","name":"Data Select","func":"var Humidity = {payload:(msg.payload)};\n\nreturn [Humidity];","outputs":1,"noerr":0,"x":356,"y":93,"wires":[["6bc681e3.73809","9e62b20f.b1dbf"]],"outputLabels":["Humidity"]},{"id":"ff7ff249.ea6bf","type":"function","z":"16dcaa8a.d4ee45","name":"Data Select","func":"var temp = {payload:(msg.payload)};\n\nreturn [temp];","outputs":1,"noerr":0,"x":357,"y":216,"wires":[["da7a9491.b57138","89b88706.e5fa38"]],"outputLabels":["temperature"]},{"id":"9e62b20f.b1dbf","type":"ui_text","z":"16dcaa8a.d4ee45","group":"e7346e3b.6173b","order":1,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"col-center","x":615,"y":87,"wires":[]},{"id":"89b88706.e5fa38","type":"ui_text","z":"16dcaa8a.d4ee45","group":"e7346e3b.6173b","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"col-center","x":620,"y":220,"wires":[]},{"id":"84846ebe.050b8","type":"ui_led","z":"4ac29fc4.c4269","group":"41102fc3.335d5","order":1,"width":0,"height":0,"label":"Error Stop","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"json"}],"name":"Error Stop","x":396.99998474121094,"y":734.9999866485596,"wires":[],"inputLabels":["ErrorStop"]},{"id":"370348bd.6bf138","type":"ui_led","z":"4ac29fc4.c4269","group":"41102fc3.335d5","order":2,"width":0,"height":0,"label":"User Stop","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"json"}],"name":"User Stop","x":390.99998474121094,"y":784.9999866485596,"wires":[],"inputLabels":["UserStop"]},{"id":"eae3d8b2.de6b18","type":"ui_led","z":"4ac29fc4.c4269","group":"41102fc3.335d5","order":3,"width":0,"height":0,"label":"In Operation","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"json"}],"name":"In Operation","x":396.99998474121094,"y":826.9999866485596,"wires":[],"inputLabels":["InOperation"]},{"id":"da7a9491.b57138","type":"ui_gauge","z":"16dcaa8a.d4ee45","name":"","group":"e7346e3b.6173b","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"*C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":618,"y":275,"wires":[]},{"id":"6bc681e3.73809","type":"ui_gauge","z":"16dcaa8a.d4ee45","name":"","group":"e7346e3b.6173b","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":614,"y":141,"wires":[]},{"id":"fd3b4574.5cebb8","type":"delay","z":"4ac29fc4.c4269","name":"Data Delay","pauseType":"rate","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":154,"y":298,"wires":[["a9e8342b.8467f8"]],"info":"**OPTIONAL**-\nThe Data Delay node just restricts the refresh rate of the data being recieved by the server."}]